<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core"/>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
  </configSections>
  <appSettings>  
    <add key="SecurityToken" value="DL1LIi6H2yBpAOqpdTFzwO4i"/>
    <add key="ConsumerKey" value="3MVG9Y6d_Btp4xp4kLfHOzT8tOcRRx5yk9eHN9S152DEZpSXvCou5SaOwtUqNbwCKaGWBXEGK_W_7fx30GJjD"/>
    <add key="ConsumerSecret" value="1509546651744945988"/>
    <add key="Username" value="accelasupport@accela.com"/>
    <add key="Password" value="missionsky@123"/>
    <add key="IsSandboxUser" value="false"/>
    <add key="JiraAccount" value="peter.peng@missionsky.com"/>
    <add key="JiraPassword" value="peter.peng"/>
    <add key="SQLMapperConfigFilePath" value="F:\\MyWorkspace\\SmartEngineer\\SmartEngineer.Core\\Config\\SmartSqlMapConfig.xml"/>
  </appSettings>
  <!-- https://stackoverflow.com/questions/2455654/what-additional-configuration-is-necessary-to-reference-a-net-2-0-mixed-mode -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <cacheManager xmlns="http://cachemanager.michaco.net/schemas/CacheManagerCfg.xsd">
    <!-- Add your custom cache configuration here -->
    <managers>
      <!-- example cache -->
      <cache name="myCache" updateMode="Up" enableStatistics="true" enablePerformanceCounters="true">
        <handle ref="sysCache" name="myHandle" expirationMode="Absolute" timeout="20m"/>
      </cache>
    </managers>

    <cacheHandles>
      <handleDef id="sysCache" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching"/>
    </cacheHandles>
  </cacheManager>
  <enyim.com>
    <memcached protocol="Binary">
      <servers>
        <!-- make sure you use the same ordering of nodes in every configuration you have -->
        <add address="127.0.0.1" port="11211"/>
        <add address="127.0.0.1" port="11212"/>
        <add address="127.0.0.1" port="11213"/>
        <add address="127.0.0.1" port="11214"/>
        <add address="127.0.0.1" port="11215"/>
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="20" connectionTimeout="00:00:10" deadTimeout="00:00:10"/>
      <keyTransformer type="Enyim.Caching.Memcached.TigerHashKeyTransformer, Enyim.Caching"/>
    </memcached>
  </enyim.com>
</configuration>
