<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="webServiceConfiguration" type="SmartEngineer.Config.WSConfiguration, SmartEngineer.ServiceClient" />
  </configSections>
  <webServiceConfiguration>
    <!--web service site default attributes. 
            timeout : Indicates the time an web service client waits for a synchronous web service request to complite(in seconds).
            url : Indicates the web service site url,such as http://10.50.0.46:32080/av-aca-ws/services. 
        -->
    <webSites defaultSite="wsServer01">
      <!--If define the detail WebService node,it will override website's default attribuet.
                The url and timeout attribute can be override.
                id: global unique identity, which is named with web service class full name.
                e.g. <webService id="Accela.ACA.WSProxy.AppSpecificInfoWebServiceService" timeout="100" />
                This node indicates AppSpecificInfoWebServiceService web service override timeout attribute.
                so timeout is override to "100" ,url still inherits the WebSite's default url.
            -->
      <webSite name="wsServer01" url="net.tcp://127.0.0.1:3721/" timeout="300">
        <webServices>
          <webService id="Accela.ACA.WSProxy.EDMSDocumentUploadWebServiceService" url="/av-aca-ws/services/EDMSDocumentUploadWebService" timeout="1800" />
          <webService id="Accela.ACA.WSProxy.SpellCheckerWebServiceService" url="/av-biz-ws/services/SpellCheckerWebService" timeout="300" />
          <webService id="Accela.ACA.WSProxy.EDMSDocumentUploadWebServiceClient" url="/av-aca-ws/services/EDMSDocumentUploadWebService" timeout="1800" />
        </webServices>
      </webSite>
    </webSites>
  </webServiceConfiguration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>