<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAccountService" />
        <binding name="NetTcpBinding_ISettingService" />
        <binding name="NetTcpBinding_IJiraServiceForENGSupp" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1:3721/accountservice" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IAccountService" contract="AccountService.IAccountService"
          name="NetTcpBinding_IAccountService">
        <identity>
          <userPrincipalName value="ms-dev3\msadmin" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:3721/settingservice" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_ISettingService" contract="SettingService.ISettingService"
          name="NetTcpBinding_ISettingService">
        <identity>
          <userPrincipalName value="ms-dev3\msadmin" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:3721/jiraservice4engsupp"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJiraServiceForENGSupp"
          contract="JiraServiceForENGSupp.IJiraServiceForENGSupp" name="NetTcpBinding_IJiraServiceForENGSupp">
        <identity>
          <userPrincipalName value="ms-dev3\msadmin" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>