<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="webServiceConfiguration" type="SmartEngineer.Config.WSConfiguration, SmartEngineer.ServiceClient"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <webServiceConfiguration>
    <!--web service site default attributes. 
            timeout : Indicates the time an web service client waits for a synchronous web service request to complite(in seconds).
            url : Indicates the web service site url,such as http://10.50.0.46:32080/av-aca-ws/services. 
        -->
    <webSites defaultSite="wsServer01">
      <!--If define the detail WebService node,it will override website's default attribuet.
                The url and timeout attribute can be override.
                id: global unique identity, which is named with web service class full name.
                e.g. <webService id="Accela.ACA.WSProxy.AppSpecificInfoWebServiceService" timeout="100" />
                This node indicates AppSpecificInfoWebServiceService web service override timeout attribute.
                so timeout is override to "100" ,url still inherits the WebSite's default url.
            -->
      <webSite name="wsServer01" url="net.tcp://peter.peng:3721/" timeout="300">
        <webServices>
          <webService id="Accela.ACA.WSProxy.EDMSDocumentUploadWebServiceService" url="/av-aca-ws/services/EDMSDocumentUploadWebService" timeout="1800"/>
          <webService id="Accela.ACA.WSProxy.SpellCheckerWebServiceService" url="/av-biz-ws/services/SpellCheckerWebService" timeout="300"/>
          <webService id="Accela.ACA.WSProxy.EDMSDocumentUploadWebServiceClient" url="/av-aca-ws/services/EDMSDocumentUploadWebService" timeout="1800"/>
        </webServices>
      </webSite>
    </webSites>
  </webServiceConfiguration>
  <log4net debug="false">
    <appender name="SmartEngineer_LogFileAppender_Debug" type="log4net.Appender.RollingFileAppender">
      <param name="StaticLogFileName" value="false"/>
      <param name="File" value="D:\log\Debug"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>
    <appender name="SmartEngineer_LogFileAppender_Error" type="log4net.Appender.RollingFileAppender">
      <param name="StaticLogFileName" value="false"/>
      <param name="File" value="D:\log\Error"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="SmartEngineer_LogFileAppender_Debug"/>
      <appender-ref ref="SmartEngineer_LogFileAppender_Error"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
