<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <WatchTimer DelayMillisecond="1">
    <WorkingInterval times="1"></WorkingInterval>
  </WatchTimer>

  <tasks>    
    <task enable="true" timeTrigger="0 0/5 7 * * ?" type="SmartEngineer.Task.ImportNewCaseTask,SmartEngineer.Task">
      <meta id="1" name="ImportNewCaseTask" isPatch="false"></meta>
      <workSetting timeout="2" times="2" whenErrorHappened="Stop">
        <sleepInterval times="1"></sleepInterval>
      </workSetting>
      <extend>
        <refs>
          <ref name="ref" resName="sqlserver">
            <params>
              <add key="1" value="2"></add>
              <add key="2" value="2"></add>
            </params>
          </ref>
        </refs>
        <settings>
          <add key="1" value="2"></add>
        </settings>
      </extend>
    </task>
    <task enable="true" timeTrigger="0 0/5 7 * * ?" type="SmartEngineer.Task.SyncSalesforceToJiraTask,SmartEngineer.Task">
      <meta id="2" name="SyncSalesforceToJiraTask" isPatch="false"></meta>
      <workSetting timeout="2" times="2" whenErrorHappened="Stop">
        <sleepInterval times="1"></sleepInterval>
      </workSetting>      
    </task>
    <task enable="true" timeTrigger="0 0/5 7 * * ?" type="SmartEngineer.Task.DailyCaseReviewReportTask,SmartEngineer.Task">
      <meta id="3" name="DailyCaseReviewReportTask" isPatch="false"></meta>
      <workSetting timeout="2" times="2" whenErrorHappened="Stop">
        <sleepInterval times="1"></sleepInterval>
      </workSetting>
    </task>
    <task enable="true" timeTrigger="0 0/5 7 * * ?" type="SmartEngineer.Task.DailyWorkLogReportTask,SmartEngineer.Task">
      <meta id="4" name="DailyWorkLogReportTask" isPatch="false"></meta>
      <workSetting timeout="2" times="2" whenErrorHappened="Stop">
        <sleepInterval times="1"></sleepInterval>
      </workSetting>
    </task>
    <task enable="true" timeTrigger="0 0/5 7 * * ?" type="SmartEngineer.Task.WeeklyReportTask,SmartEngineer.Task">
      <meta id="5" name="WeeklyReportTask" isPatch="false"></meta>
      <workSetting timeout="2" times="2" whenErrorHappened="Stop">
        <sleepInterval times="1"></sleepInterval>
      </workSetting>
    </task>
  </tasks>

  <resources>
    <resource name="sqlserver" type="SqlServer" value="">
      <add key="1" value="1"></add>
      <add key="2" value="2"></add>
    </resource>
  </resources>
</configuration>