<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <WatchTimer DelayMillisecond="1">
    <WorkingInterval times="1"></WorkingInterval>
  </WatchTimer>

  <tasks>    
    <task enable="true" timeTrigger="" type="SmartTask.demo.AssignHotCaseTask">
      <meta id="1" name="AssignHotCaseTask" isPatch="false"></meta>
      <workSetting timeout="5" times="2" whenErrorHappened="Stop">
        <sleepInterval times="1"></sleepInterval>
      </workSetting>
      <extend></extend>
    </task>
  </tasks>

  <resources>
    <resource name="" type="" value="">
      <add key="" value=""></add>
    </resource>
  </resources>
</configuration>