<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDatabaseService" />
                <binding name="BasicHttpBinding_IGithubService" />
                <binding name="BasicHttpBinding_IJiraService" />
                <binding name="BasicHttpBinding_IJiraService1" />
                <binding name="BasicHttpBinding_IReleaseService" />
                <binding name="BasicHttpBinding_IReportService" />
                <binding name="BasicHttpBinding_ISalesforceService" />
                <binding name="BasicHttpBinding_ITestRailService" />
                <binding name="BasicHttpBinding_IDatabaseService1" />
                <binding name="BasicHttpBinding_IGithubService1" />
                <binding name="BasicHttpBinding_IJiraService2" />
                <binding name="BasicHttpBinding_IJiraServiceForDatabase" />
                <binding name="BasicHttpBinding_IJiraService3" />
                <binding name="BasicHttpBinding_IMemberService" />
                <binding name="BasicHttpBinding_IReleaseService1" />
                <binding name="BasicHttpBinding_IReportService1" />
                <binding name="BasicHttpBinding_ISalesforceService1" />
                <binding name="BasicHttpBinding_ISettingService" />
                <binding name="BasicHttpBinding_ITestRailService1" />
                <binding name="BasicHttpBinding_ISalesforceService2" />
                <binding name="BasicHttpBinding_ISalesforceService3" />
                <binding name="BasicHttpBinding_IJiraServiceForENGSupp" />
                <binding name="BasicHttpBinding_IJiraServiceForDatabase1" />
                <binding name="BasicHttpBinding_ISettingService1" />
                <binding name="BasicHttpBinding_IDatabaseService2" />
                <binding name="BasicHttpBinding_IMemberService1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAccountService" />
                <binding name="NetTcpBinding_IDatabaseService" />
                <binding name="NetTcpBinding_IGithubService" />
                <binding name="NetTcpBinding_IJiraService" />
                <binding name="NetTcpBinding_IJiraService1" />
                <binding name="NetTcpBinding_IReleaseService" />
                <binding name="NetTcpBinding_IReportService" />
                <binding name="NetTcpBinding_ISalesforceService" />
                <binding name="NetTcpBinding_ITestRailService" />
                <binding name="NetTcpBinding_IDatabaseService1" />
                <binding name="NetTcpBinding_IGithubService1" />
                <binding name="NetTcpBinding_IJiraService2" />
                <binding name="NetTcpBinding_IJiraServiceForDatabase" />
                <binding name="NetTcpBinding_IJiraService3" />
                <binding name="NetTcpBinding_IMemberService" />
                <binding name="NetTcpBinding_IReleaseService1" />
                <binding name="NetTcpBinding_IReportService1" />
                <binding name="NetTcpBinding_ISalesforceService1" />
                <binding name="NetTcpBinding_ISettingService" />
                <binding name="NetTcpBinding_ITestRailService1" />
                <binding name="NetTcpBinding_ISalesforceService2" />
                <binding name="NetTcpBinding_ISalesforceService3" />
                <binding name="NetTcpBinding_IJiraServiceForENGSupp" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:3721/accountservice" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAccountService" contract="AccountService.IAccountService"
                name="NetTcpBinding_IAccountService">
                <identity>
                    <userPrincipalName value="ms-dev3\msadmin" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://127.0.0.1:3721/salesforceservice"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISalesforceService"
                contract="SalesforceService.ISalesforceService" name="NetTcpBinding_ISalesforceService">
                <identity>
                    <userPrincipalName value="ms-dev3\msadmin" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://127.0.0.1:3721/jiraservice4engsupp"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJiraServiceForENGSupp"
                contract="JiraServiceForENGSupp.IJiraServiceForENGSupp" name="NetTcpBinding_IJiraServiceForENGSupp">
                <identity>
                    <userPrincipalName value="ms-dev3\msadmin" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:41200/DatabaseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseService"
                contract="DatabaseService.IDatabaseService" name="BasicHttpBinding_IDatabaseService" />
            <endpoint address="http://localhost:41200/GithubService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGithubService"
                contract="GithubService.IGithubService" name="BasicHttpBinding_IGithubService" />
            <endpoint address="http://localhost:41200/JiraService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IJiraService" contract="JiraService.IJiraService"
                name="BasicHttpBinding_IJiraService" />
            <endpoint address="http://localhost:41200/JiraServiceForENGSupp.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJiraService1"
                contract="JiraServiceForENGSupp.IJiraService" name="BasicHttpBinding_IJiraService1" />
            <endpoint address="http://localhost:41200/ReleaseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReleaseService"
                contract="ReleaseService.IReleaseService" name="BasicHttpBinding_IReleaseService" />
            <endpoint address="http://localhost:41200/ReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService"
                contract="ReportService.IReportService" name="BasicHttpBinding_IReportService" />
            <endpoint address="http://localhost:41200/SalesforceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalesforceService"
                contract="SalesforceService.ISalesforceService" name="BasicHttpBinding_ISalesforceService" />
            <endpoint address="http://localhost:41200/TestRailService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestRailService"
                contract="TestRailService.ITestRailService" name="BasicHttpBinding_ITestRailService" />
            <endpoint address="http://localhost:41200/DatabaseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseService1"
                contract="DatabaseService.IDatabaseService" name="BasicHttpBinding_IDatabaseService1" />
            <endpoint address="http://localhost:41200/GithubService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGithubService1"
                contract="GithubService.IGithubService" name="BasicHttpBinding_IGithubService1" />
            <endpoint address="http://localhost:41200/JiraService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IJiraService2" contract="JiraService.IJiraService"
                name="BasicHttpBinding_IJiraService2" />
            <endpoint address="http://localhost:41200/JiraServiceForDatabase.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJiraServiceForDatabase"
                contract="JiraServiceForDatabase.IJiraServiceForDatabase"
                name="BasicHttpBinding_IJiraServiceForDatabase" />
            <endpoint address="http://localhost:41200/JiraServiceForENGSupp.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJiraService3"
                contract="JiraServiceForENGSupp.IJiraService" name="BasicHttpBinding_IJiraService3" />
            <endpoint address="http://localhost:41200/MemberService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberService"
                contract="MemberService.IMemberService" name="BasicHttpBinding_IMemberService" />
            <endpoint address="http://localhost:41200/ReleaseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReleaseService1"
                contract="ReleaseService.IReleaseService" name="BasicHttpBinding_IReleaseService1" />
            <endpoint address="http://localhost:41200/ReportService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService1"
                contract="ReportService.IReportService" name="BasicHttpBinding_IReportService1" />
            <endpoint address="http://localhost:41200/SalesforceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalesforceService1"
                contract="SalesforceService.ISalesforceService" name="BasicHttpBinding_ISalesforceService1" />
            <endpoint address="http://localhost:41200/SettingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISettingService"
                contract="SettingService.ISettingService" name="BasicHttpBinding_ISettingService" />
            <endpoint address="http://localhost:41200/TestRailService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestRailService1"
                contract="TestRailService.ITestRailService" name="BasicHttpBinding_ITestRailService1" />
            <endpoint address="http://localhost:41200/SalesforceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalesforceService2"
                contract="SalesforceService.ISalesforceService" name="BasicHttpBinding_ISalesforceService2" />
            <endpoint address="http://localhost:41200/SalesforceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalesforceService3"
                contract="SalesforceService.ISalesforceService" name="BasicHttpBinding_ISalesforceService3" />
            <endpoint address="http://localhost:41200/JiraServiceForENGSupp.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJiraServiceForENGSupp"
                contract="JiraServiceForENGSupp.IJiraServiceForENGSupp" name="BasicHttpBinding_IJiraServiceForENGSupp" />
            <endpoint address="http://localhost:41200/JiraServiceForDatabase.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJiraServiceForDatabase1"
                contract="JiraServiceForDatabase.IJiraServiceForDatabase"
                name="BasicHttpBinding_IJiraServiceForDatabase1" />
            <endpoint address="http://localhost:41200/SettingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISettingService1"
                contract="SettingService.ISettingService" name="BasicHttpBinding_ISettingService1" />
            <endpoint address="http://localhost:41200/DatabaseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseService2"
                contract="DatabaseService.IDatabaseService" name="BasicHttpBinding_IDatabaseService2" />
            <endpoint address="http://localhost:41200/MemberService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberService1"
                contract="MemberService.IMemberService" name="BasicHttpBinding_IMemberService1" />
        </client>
    </system.serviceModel>
</configuration>