<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS -->
</head>

<body>
    @RenderBody()

    <div class="SignatureSection">
        <p class="MsoNormal">           
                &nbsp;            
        </p>
        <p class="MsoNormal" style="mso-margin-top-alt:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in">
            <b>
                <span style="font-family:&quot;Verdana&quot;,sans-serif;color:black">
                    Peter Peng                  
                </span>
            </b>
        </p>
        <p class="MsoNormal" style="mso-margin-top-alt:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in">
            <span style="font-size:10.0pt;font-family:&quot;Verdana&quot;,sans-serif;color:#154AAD">
                Project Manager                
            </span>
        </p>
        <p class="MsoNormal" style="mso-margin-top-alt:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in">
            <span style="font-size:10.0pt;font-family:&quot;Verdana&quot;,sans-serif;color:#7F7F7F">
                PBA | PRINCE2 | PMP | Mobile: +86.18566751849              
            </span>
        </p>
        <p class="MsoNormal">
            <span style="font-size:10.0pt;font-family:&quot;Verdana&quot;,sans-serif;color:#7F7F7F">
                <img width="465" height="48" style="width:4.8437in;height:.5in" id="Missionsky_Signature_Logo" src="cid:missionsky_mignature_logo" alt="Description: Missionsky" />
            </span>           
        </p>
    </div>
</body>
</html>