<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
    <section name="smartengineer.batchingHosting"
             type="SmartEngineer.Ext.BatchingHostingSettings, SmartEngineer.ServiceHost"/>
  </configSections>
  <system.serviceModel>
    <services>
      <service name="SmartEngineer.Service.AccountService">
        <endpoint address="net.tcp://127.0.0.1:3721/accountservice"
                  binding="netTcpBinding"
                  contract="SmartEngineer.Service.IAccountService"/>
      </service>
      <service name="SmartEngineer.Service.SettingService">
        <endpoint address="net.tcp://127.0.0.1:3721/settingservice"
                  binding="netTcpBinding"
                  contract="SmartEngineer.Service.ISettingService"/>
      </service>
      <service name="SmartEngineer.Service.JiraServiceForENGSupp">
        <endpoint address="net.tcp://127.0.0.1:3721/jiraservice4engsupp"
                  binding="netTcpBinding"
                  contract="SmartEngineer.Service.IJiraServiceForENGSupp"/>
      </service>
    </services>
  </system.serviceModel>
  <smartengineer.batchingHosting>
    <add type="SmartEngineer.Service.AccountService, SmartEngineer.Service"/>
    <add type="SmartEngineer.Service.SettingService, SmartEngineer.Service"/>
    <add type="SmartEngineer.Service.JiraServiceForENGSupp, SmartEngineer.Service"/>
  </smartengineer.batchingHosting>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>  
</configuration>